:root {
  --main-background: #b9540c;
  --font-family: sans-serif;
  max-width: 600;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-background);
  font-family: var(--font-family);
}

h1 {
  margin: 0;
  color: #eee;
  font-weight: 700;
  font-size: 54px;
}

h2 {
  margin: 0;
  padding: 16px;
  color: #eee;
  display: flex;
  flex-direction: column-reverse;
}

li {
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
  display: flex;
}

.main-container {
  width: 75vw;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
}

.character-card {
  width: 345px;
  height: 420px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 2px 3px #333;
  border-radius: 3%;
}

.character__age {
  margin: 0;
  padding: 15px 0px 5px 15px;
  color: #eee;
  display: flex;
  flex-direction: column-reverse;
}

.character__status {
  padding: 15px;
  color: #eee;
  display: flex;
  flex-direction: column-reverse;
}
